body {
     background-image: url("blue.jpg");
     font-family: 'Work Sans', sans-serif;
}

input {
     font-family: 'Play', sans-serif;
     width: 130%;
     height: 40%;
     font-weight: 1000px;
     border-radius: 10px;
     margin-top: 12px;
     transition: 0.9s;
     -moz-box-shadow:inset 0 0 3px #000000;
     text-align-last: center;
}

input:focus {
    background-color: #66CCFF;
}

select {
     font-family: 'Play', sans-serif;
     width: 130%;
     height: 40%;
     font-weight: 1000px;
     border-radius: 10px;
     margin-top: 12px;
     transition: 0.9s;
     text-align-last: center;
}
button:hover {
     opacity: 0.5;
     background-color: #66CCFF;
}

button {
     font-family: 'Russo One', sans-serif;
     background-color: #2794DC;
     font-size: 20px;
     border-radius: 15px;
     color: white;
     width: 500px;
     height: 50px;
     margin: 8px 0;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     cursor: pointer;
     margin-left: 250px;
     margin-top: 30px;
}

.stanza3 input{
     width: 15px;
     height: 15px;
}

#header {
     font-family: 'Arvo', serif;
     border: 1px solid #0000;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     height: 80px;
     background-color: #2980B9;
     color: white;
}

#container {
     border: 1px solid #0000;
     border-radius: 10px;
     background-image: url("white.jpg");
     width: 1000px;
     height: 600px;
     margin-left: 190px;
     margin-top: 40px;
     opacity: 0.6;
}

#leftside{
     width: 499px;
     height: 370px;
     float: left;
}

#rightside{
     width: 497px;
     height: 370px;
     float: right;
}

.stanza {
     width: 200px;
     height: 60px;
     margin-left: 180px;
     margin-top: 90px;
}

.stanza1 {
     width: 200px;
     height: 60px;
     margin-left: 50px;
     margin-top: 90px;
}

.stanza2 {
     width: 200px;
     height: 60px;
     margin-top: 20px;
}

.stanza3 {;
     margin-left: 105px;
}

#goback {
     border: 1px solid #0000;
     font-family: 'Patua One', cursive;
     width: 500px;
     height: 20px;
     margin-top: 20px;
     margin-left: 420px;
     color: red;
}

a {
     text-decoration: none;
}

a:hover {
     opacity: 0.5;
     color: #66CCFF;
}
